.menu-list {
  width: 100%;
  padding: 8px 9px;
}

.warpsidebar-link,
.warpsidebar-link:hover {
  text-decoration: none;
  color: black;
}
.warpsubsidebar-link,
.warpsubsidebar-link:hover {
  text-decoration: none;
  color: black;
  transition: 1s;
}
.warpsidebar-icon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 24px;
}
.warpsidebr-text {
  margin-left: 20px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
}

.active-menu {
  color: blue;
}

.child-list {
  width: 100%;
  margin-left: 40px;
  transition: all 0.1s;
}
.warpsub-text {
  margin-left: 20px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;
}
.warpsub-icon {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 12px;
  white-space: nowrap;
  color: gray;
}

.transition-add,
.transition-add:hover {
  transition: 1s;
}

.sidbar-content {
  position: absolute;
  overflow: hidden auto;
}

.activeMenu {
  color: #32acc28f;
  background: #f8f1f1;
}
